mat-form-field{
    width:100%;
}
mat-card-header{
    display: flex;
    
}
.close{

margin-left: 28%;
border: none;
}
h1{
   margin-left: 28%;
}
.row{
    display: flex;
}
.pull{
    width:100%;
   background-color:#1890FF;
   color:white;
}