<mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title >Forgot Your Password?</mat-card-title>
    <p class="text-secondary">Please enter the email address associated with your account,
        we will email you a link to reset your password</p>
    </mat-card-header>
    <form [formGroup]="forgotpassword">
    <mat-card-content>
    
       <mat-form-field class="em" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" class="form-control"  formControlName="email" required>
          <mat-error *ngIf="forgotpassword.get('email')?.invalid"> <mat-icon>warning</mat-icon>Enter valid email..</mat-error>
         
          <!-- <mat-error *ngIf="email.invalid"> <mat-icon>warning</mat-icon> {{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="pull" (click)="ForgotPassword()">Reset Password</button>
    </mat-card-actions>
 <p class="or" routerLink="/login">Back</p>
  </form>
    
  </mat-card>
  
